<tr>
	<td><%=categoryNo%></td>
	<td><%=name%></td>
	<td><%=totalPost%></td>
	<td><%=description%></td>
	<td><a id="delete" href=''
		data-no='<%=no%>'><img src="/jblog03/assets/images/delete.jpg"></a></td>
</tr>